<div class="typage">
    <div class="bread">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>О Tarrago</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="about_left_info">
                    <p>С 1940 года испанский бренд Tarrago ведёт активные исследования в области ухода и реставрации всех видов кожи. Сегодгя продукция Tarrago есть <b>в 60 странах</b> на пяти континентах</p>
                    <p>Tarrago Brands International  имеет свой отдел разработок и исследований в Барселоне. Компания стала первой в области применения <a>нанотехнологий</a>  в сфере по уходу за обувью.</p>

                    <p>Мы знаем, что нужно вашей обуви!</p>
                    <p><b class="about_b">&gt; 2 000 точек продаж в России</b></p>
                    <br />
                    <a class="btn btn_red" href="#">Перйти в каталог</a> &nbsp; &nbsp;
                    <a class="btn btn_red" href="#">Точки продаж</a>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/Content/img/about/vintage_map.png" style="max-width:100%;"/>
            </div>
        </div>
        <h2>История бренда</h2>
                    <img src="~/Content/img/about/history.png" style="max-width:100%;float:left;margin:0 25px 25px 0"/>
            <p>Компания была создана в 1940 году под названием Tarragó Products. Сначала она занималась производством красителей для текстильных изделий.</p>
        <p>В 60-х годах, во время кризиса текстильной промышленности Каталонии, компания переориентировалась на разработку продуктов для ремонта и ухода за обувью.</p>
        <p>Для этого был разработан универсальный краситель Tarragó — первый продукт на водной основе, который позволил изменить цвет кожи. Это изобретение произвело революцию в сфере обуви. Из-за большого успеха кампания развила бизнес из национального в международный.</p>
        <p>Начиная с 80-х годов, продукция Tarragó начала разрабатывать ряд рецептур и аксессуаров для качественного ухода и ремонта всех видов обуви: туристические, спортивные, детские туфли, профессиональные и промышленные.</p>
        <p>Наличие своей продукции в более чем 50 странах, а также открытие филиала в США, Tarrago USA Inc., компания получила Премию в Международной торговой палате Манреса.</p>
        <p>В 2008 году Productos Tarragó была приобретена французской бизнес-группой Alma. Alma — семейный бизнес, который производит известные продукты для обуви Saphir Medaille d'Or  через фирму Avel. В результате этой стратегии в 2009 году Productos Tarragó, SL был переименован в Tarrago Brands International, SL.</p>          
            
            <div class="clearfix"></div>
        <h2>Продукты Tarrago</h2>
        <div style="padding:0 0 25px 25px;float:right;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lnZX2U9l9vI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
            <p>Компания Tarrago Brands International выпускает 13 линеек продуктов для ухода за обувью и кожей, включая кремы, красители, спреи, чистящие средства, аксессуары и другие.</p>
            <p>Наряду с линиями потребительских товаров, Tarrago предлагает профессиональную серию, предназначенную для реставрации обуви. В настоящее время Tarrago Brands International является единственным брендом, который производит в Испании такой разнообразный и полный ассортимент продукции для сектора ремонта и ухода за обувью.</p>
            <p>Компания является пионером в пр именении нанотехнологий для ухода за обувью. Ярким представителем линейки является универсальная водоотталкивающая пропитка <a href="#">Nano Protector</a>.</p>
            <p>Tarrago Brands International продает свою продукцию через дистрибьюторов <b>в 60 странах</b>. В отличие от других конкурирующих брендов, продукция Tarragó Brands International продается только в специализированных магазинах, таких как обувные магазины или мастерские по ремонту обуви, а не в больших магазинах, ориентированных на сегмент среднего класса рынка. Компания также регулярно присутствует на крупных ярмарках этого сектора, таких как Linea Pelle (Болонья, Италия), GDS (Дюссельдорф, Германия), SSIA (США) или Modacalzado + Iberpiel (Мадрид, Испания).</p>
        
        <div class="clearfix">

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/img/about/nokr.png" style="margin-top:31px;"/>
            </div>
            <div class="col-sm-6">
                <h2>НИОКР</h2>
                <p>В Tarrago Brands International есть собственная научно-исследовательская лаборатория, расположенная в Манресе (Барселона, Испания), где компания разрабатывает формулы своей продукции.</p>
                <p>Инновационная деятельность направлена на достижение более безопасных, более эффективных и высококачественных составов, адаптированных к потребностям клиентов и самых строгих действующих нормативных положений в химической промышленности, таких как программа Reach по безопасности в сырьевых материалах, правилах Международного законодательства о защите прав потребителей и стандарты маркировки GHS.</p>
                
                
            </div>
        </div>
    </div>
</div>
