<div class="typage">
    <div class="bread">
        <div class="container">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Полезно знать</h1>
        <div class="article-list">
            <div class="row">



                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img  src="/Content/img/index/blog1.png"/>
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь.
                                Несколько практических советов которые помогут сохранить вашу обувь.
                                Несколько практических советов которые помогут сохранить вашу обувь.
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
          
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь.
                                Несколько практических советов которые помогут сохранить вашу обувь.
                                Несколько практических советов которые помогут сохранить вашу обувь.
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 article_col">
                    <a href="#" class="article_item">
                        <img src="/Content/img/index/blog1.png" />
                        <div class="article_info">
                            <h5 class="article_header">Рекомендации по эксплуатации обуви весной</h5>
                            <div class="article_desc">
                                Несколько практических советов которые помогут сохранить вашу обувь
                            </div>
                            <div class="article_date">7 марта 2018</div>
                        </div>
                    </a>
                </div>






            </div>


            <div>
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous">
                        
                        <span class="fa fa-angle-left"></span>
                        </a>

                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">...</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
