<div class="typage">
    <div class="bread">
        <div class="container">
            <div >
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Где купить</h1>
        <div class="row">
            <div class="col-sm-8">
                <div id="map" style="height:500px;width:100%"></div>
            </div>
            <div class="col-sm-4">
                <div class="info">
                    <div class="info_header">Не нашли где купить?</div>
                    <div class="info_desc">Оставьте запрос в социальных сетях.<br>Мы подберем подходящий магазин.</div>
                    <div class="info_soc">
                        <a href="https://vk.com/tarrago.salrus" target="_blank" class="soc_item"><span class="fa fa-vk"></span></a>
                        <a href="https://www.instagram.com/uxod_za_obuviu/" target="_blank" class="soc_item"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.facebook.com/tarrago.salrus" target="_blank" class="soc_item"><span class="fa fa-facebook-f"></span></a>                        
                    </div>
                </div>
                <p style="font-size:.9em"><b>Партнёрам</b><br />
                Чтобы добавить Ваш магазин в список на сайте, отправьте заявку по адресу <a href="mailto:info@salrus.ru">info@salrus.ru</a></p>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-xs-12">
                <h2>Список интернет-магазинов с продукцией Tarrago</h2>
                <div class="im-list">
                    <a href="#"target="_blank" class="im_item">
                        <img src="http://via.placeholder.com/160x160"  />
                    </a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a><a href="#" target="_blank" class="im_item">
    <img src="http://via.placeholder.com/160x160" />
</a>

                </div>
            </div>
        </div>
        
    </div>
</div>
