<div class="typage">
    <div class="bread">
        <div class="container">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Отзывы</h1>
        <div class="review-list">            
            
            <div class="review_item">
                <div class="review_item_text">
                    <p>Замечательная краска для ремонта кожаных изделий. Сегодня первый раз в жизни красила кожаную сумку. Не скрываю - терзали смутные сомнения, что результат  будет весьма и весьма не очень. Но!!! Я, не имея опыта, покрасила свою кожаную сумку (цвет яичной скорлупы) тем же оттенком краски, и не могу нарадоваться на результат - ни проплешин, ни разводов! Сумка, как новая.</p>                    
                    <div class="review_item_author">Галина</div>
                </div>                
            </div>
            <div class="review_item">
                <div class="review_item_text">
                    <p>Замечательная краска для ремонта кожаных изделий. Сегодня первый раз в жизни красила кожаную сумку. Не скрываю - терзали смутные сомнения, что результат  будет весьма и весьма не очень. Но!!! Я, не имея опыта, покрасила свою кожаную сумку (цвет яичной скорлупы) тем же оттенком краски, и не могу нарадоваться на результат - ни проплешин, ни разводов! Сумка, как новая.</p>
                    <div class="review_item_author">Галина</div>
                </div>
            </div>
            <div class="review_item">
                <div class="review_item_text">
                    <p>Замечательная краска для ремонта кожаных изделий. Сегодня первый раз в жизни красила кожаную сумку. Не скрываю - терзали смутные сомнения, что результат  будет весьма и весьма не очень. Но!!! Я, не имея опыта, покрасила свою кожаную сумку (цвет яичной скорлупы) тем же оттенком краски, и не могу нарадоваться на результат - ни проплешин, ни разводов! Сумка, как новая.</p>
                    <div class="review_item_author">Галина</div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <div>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">

                        <span class="fa fa-angle-left"></span>
                    </a>

                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </li>
            </ul>
        </div>



        <div class="review_form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="review_form_left">
                        <img src="~/Content/img/review_icon.png" />
                        <div>Оставьте отзыв</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form class="review_form_center" >

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ваше имя:</label>
                                    <input type="text" class="form-control" id="name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>E-mail:</label>
                                    <input type="email" class="form-control" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb20"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Текст отзыва:</label>
                                    <textarea rows="6" class="form-control"></textarea>
                                </div>


                                <div class="review_form_txt">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашайтесь с <a>политикой конфиденциальности</a>.</div>
                                <button class="btn_red">ОТПРАВИТЬ ОТЗЫВ</button>

                            </div>
                        </div>
                        

                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="review_form_right">
                        <span>*</span> Все поля обязательны для заполнения.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>