<div class="typage">
    <div class="bread">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="produkt">
            <img src="/Content/img/prod_exam.png" class="produkt_img" />
            <div class="produkt_info">
                <h1>Крем-банка Shoe Cream</h1>
                <div class="produkt_art">Арт. ТСТ31, стеклянная банка, 50 мл, 102 цвета</div>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#desc">Описание</a></li>
                    <li><a data-toggle="tab" href="#mapcolor">Карта цветов</a></li>                    
                </ul>

                <div class="tab-content">
                    <div id="desc" class="tab-pane fade in active">
                        <p>Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
                        <p>Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum. Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum. Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum. Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum. Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>

                        <br />
                        <p>
                            <h6>Преимущества для покупателя</h6>
                            
                        </p>
                        <p>
                            <ul>
                                <li>Первое преимущестов</li>
                                <li>Второе преимущестов</li>
                                <li>Третье преимущестов</li>
                            </ul>
                        </p>
                        <br />
                        <a href="#" target="_blank" class="btn_wild"><img src="/Content/img/knopka-wild.png" /></a>
                    </div>
                    <div id="mapcolor" class="tab-pane fade">                        
                        <p>Карта цветов</p>
                    </div>
                   
                </div>
              
                
                <h2>Способ применения</h2>

                <div >

                    <div style="float:left;margin:0 25px 25px 0;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/gaPNOoSaeEI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                        
                   
                        <p><span class="step">Шаг 1.</span> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
                        <p><span class="step">Шаг 2.</span> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
                        <p><span class="step">Шаг 3.</span> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
                  
                </div>
                

                


                
                <h2>Полезно знать</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="gorblog" href="#">
                            <img src="/Content/img/bloog_prod.jpg" class="gorblog_img" />
                            <div class="gorblog_info">
                                <h6>Рекомендации по эксплуатации обуви весной</h6>
                                <p>Несколько практических советов которые помогут сохранить обвуь.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="gorblog" href="#">
                            <img src="/Content/img/bloog_prod.jpg" class="gorblog_img" />
                            <div class="gorblog_info">
                                <h6>Рекомендации по эксплуатации обуви весной</h6>
                                <p>Несколько практических советов которые помогут сохранить обвуь.</p>
                            </div>
                        </a>
                    </div>

                </div>

                
                <h2>Также рекомендуем</h2>
                <div class="prod-list">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#" class="category_el">
                                <img src="http://via.placeholder.com/230x160" alt="" />
                                <div>
                                    <span>Крем-банка Shoe Cream</span>
                                    <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                                </div>
                            </a>
                        </div>
                      
                        <div class="col-sm-3">
                            <a href="#" class="category_el">
                                <img src="http://via.placeholder.com/230x160" alt="" />
                                <div>
                                    <span>Крем-банка Shoe Cream</span>
                                    <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="category_el">
                                <img src="http://via.placeholder.com/230x160" alt="" />
                                <div>
                                    <span>Крем-банка Shoe Cream</span>
                                    <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="category_el">
                                <img src="http://via.placeholder.com/230x160" alt="" />
                                <div>
                                    <span>Крем-банка Shoe Cream</span>
                                    <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <a href="/products/" class="go_back"> Вернуться в каталог</a>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
