<div class="typage">
    <div class="bread">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Шаг 1</a></li>
                    <li class="active">Текущая страница</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Уход за гладкой кожей</h1>
        <div class="types">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#" class="types_item">Аэрозоли</a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="types_item">Бальзамы</a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="types_item">Кремы</a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="types_item">Ликвиды</a>
                </div>
            </div>
        </div>
        <div class="prod-list">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#" class="category_el">
                        <img src="http://via.placeholder.com/230x160" alt="" />
                        <div>
                            <span>Крем-банка Shoe Cream</span>
                            <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="category_el">
                        <img src="http://via.placeholder.com/230x160" alt="" />
                        <div>
                            <span>Крем-банка Shoe Cream</span>
                            <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="category_el">
                        <img src="http://via.placeholder.com/230x160" alt="" />
                        <div>
                            <span>Крем-банка Shoe Cream</span>
                            <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="category_el">
                        <img src="http://via.placeholder.com/230x160" alt="" />
                        <div>
                            <span>Крем-банка Shoe Cream</span>
                            <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="category_el">
                        <img src="http://via.placeholder.com/230x160" alt="" />
                        <div>
                            <span>Крем-банка Shoe Cream</span>
                            <p>Нежный крем на основе пчелиного воска для обуви из гладкой и синтетической кожи. Питает, обновляеь цвет, придает стойкий блеск обуви. 102 цвета</p>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/products/" class="go_back"> Вернуться в каталог</a>
                </div>
            </div>
        </div>

        <div style="margin-bottom:75px;"></div>

        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
        <h2>Lorem Ipsum(h2)</h2>
        <p>Прежде Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="#">Lorem </a>Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
        <h2>Lorem Ipsum(h2)</h2>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>


    </div>
</div>